!!! 5
html(lang='en')
head
	title Instagram - Real Time
	link(rel='stylesheet', href='/styles/style.css')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="socket.io/socket.io.js")
	script
		var socket = io.connect('http://realtime-instagram.herokuapp.com');
		socket.on('new_pictures', function (url, id) {
			//- console.log(data);
			
			//- Create image element
			var img = document.createElement("img");
			img.src = url;
			img.dataset.id = id;
			img.className = "instagramPic";
			
			//- Add click event (hides the pic)
			$(img).click(function(){
				$(this).hide();
			});

			//- Display picture
			$("#pictures").prepend(img);

		});

body
	#container
		//- h1 Instagram Pictures
		#pictures	
			each instagramURL, instagramID in instagrams
				li
					img.instagramPic(src="#{instagramURL}")
	script
		$(".instagramPic").click(function() {
			$(this).hide();
		})