!!! 5
html(lang='en')
head
	title Instagram - Real Time
	link(rel='stylesheet', href='/styles/style.css')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(src="socket.io/socket.io.js")
	script
		var socket = io.connect('http://sparragus-test.herokuapp.com');
		socket.on('new_pictures', function (data) {
			console.log(data);
			$("#pictures").prepend("<img src=\"" + data + "\">").addClass("instagramPic").click(function(){$(this).hide();});
		});
	//- script
	//- 	$(".instagramPic").click(function() {
	//- 		$(this).hide();
	//- 	})
body
	#container
		//- h1 Instagram Pictures
		#pictures	
			each instagramURL, instagramID in instagrams
				li
					img.instagramPic(src="#{instagramURL}")
	script
		$(".instagramPic").click(function() {
			$(this).hide();
		})